<% content_for :title, "Movies" %>

<div class="w-full">
  <div class="flex items-start justify-between">
    <h1 class="font-bold text-4xl">Movies</h1>
    <%= link_to "New movie", new_employee_movie_path, class: "btn btn-primary block" %>
  </div>

  <div id="employee_movies" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @employee_movies.any? %>
      <% @employee_movies.each do |employee_movie| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= link_to employee_movie.title, movie_path(employee_movie) %>

          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= link_to "Edit", edit_employee_movie_path(employee_movie), class: "btn btn-secondary w-full sm:w-auto" %>
            <%= button_to "Destroy", employee_movie_path(employee_movie), method: :delete, class: "btn btn-danger w-full sm:w-auto", data: { turbo_confirm: "Are you sure?" } %>
           </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No movies found.</p>
    <% end %>
  </div>
</div>
